.circle {
    width: 90px;
    height: 90px;
    border-radius: 100%;
    background-color: rgb(57, 57, 57);
    display: flex;
    align-items: center;
    justify-content: center;
}

.title {
    font-weight: 700;
    font-size: 36px;
    color: #00c4f0;

}


@media (max-width: 1110px) {
    .circle {
        width: 70px;
        height: 70px;
    }

}

@media (max-width: 900px) {
    .circle {
        width: 50px;
        height: 50px;
    }

    .title {
        font-weight: 700;
        font-size: 26px;
    }
}