/* img{
    border-radius: 100%;
fill: linear-gradient(135deg, #414141 0%, #2d2d2d 100%);
} */

.circle{
    /* background-color: red; */
    width: 90px;
    height: 90px;
    border-radius: 100%;
/* fill: linear-gradient(135deg, #363434 0%, #2d2d2d 100%); */
background-color: rgb(57, 57, 57);
display: flex;
align-items: center;
justify-content: center;
}

.title{
    /* position: relative;
    top:-75px;
    left: 23px; */
    font-weight: 700;
font-size: 36px;
color: #00c4f0;
}