.stylesImg{
    height: 300px;
    /* background-color: red; */
}

.wrapper{
    /* background-color: red; */
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(30, 30, 30);
}

.title{
    font-weight: 400;
font-size: 48px;
color: #fff;
font-family:  "NEXT ART", sans-serif;
margin-top: 30px;
}

.portfolio{
    width: 70%;
    height: 400px;
    margin-top: 60px;
}

.itemSlider{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    flex-direction: column;
    /* background-color: red; */
    /* width: 800px; */
    height: 400px;
}


.wrapperImg{
    /* background-color: green; */
    margin-bottom: 20px;
}

.wrapperImg img{
    height: 300px;
    border-radius: 20px;
}

.nameProject{
    
}

.aLookProject{
    text-decoration: none;
    color: hsl(0, 0%, 100%);
    text-decoration: none;
    border-radius: 6px;
width: 70px;
height: 30px;
box-shadow: 0 2px 13px 0 rgba(226, 158, 0, 0.48);
background: linear-gradient(315deg, #e2a300 0%, #e29500 100%);
font-weight: 700;
font-size: 18px;
color: #000;
padding: 5px 20px 5px 20px;
margin-left: 10px;
/* margin-top: 130px; */
}

.aLookProject:active{
    color: #ffffff;
}
.aLookProject:hover{
    color: #ffffff;
}  