.menu {
    width: 710px;
    // background-color: red;

    ul {
        list-style-type: none;
        padding-left: 0;
        display: flex;
        align-items: flex-start;
        justify-content: space-around;
        flex-direction: row;
        // gap: 100px;

        li {
            display: inline;
            // background-color: gold;

            a {
                text-decoration: none;
                font-weight: 300;
                font-size: 18px;
                color: #e4e4e4;
            }

            a:active {
                color: #f06292;
                text-shadow: 2px 2px 4px #880e4f;
            }

            a:hover {
                color: #f06292;
                text-shadow: 2px 2px 4px #880e4f;
            }

        }

    }
}

@media (max-width: 1110px) {
    .menu {
        width: 500px;
    }
}