.wrap {
    width: 100%;
    height: 760px;
    background-color: rgb(38, 38, 38);
    display: flex;
    justify-content: center;




    .wrapTitleMen {
        width: 1200px;
        height: 760px;
        display: flex;
        justify-content: center;
        align-items: center;
    }



}

@media (max-width: 1110px) {
    .wrap {
        height: 600px;

        .wrapTitleMen {
            height: 600px;
        }
    }
}

@media (max-width: 900px) {
    .wrap {
        height: 500px;

        .wrapTitleMen {
            height: 500px;
        }
    }
}

@media (max-width: 660px) {
    .wrap {
        height: 800px;
        // background-color: red;

        .wrapTitleMen {
            height: 900px;
            flex-direction: column;
        }
    }
}