.title {
    font-weight: 700;
    font-size: 25px;
    color: #e4e4e4;
    width: 447px;
    height: 377px;

    h2 {
        font-size: 30px;
        color: rgb(228, 228, 228);
    }

    h3 {
        font-weight: 300;
        font-size: 18px;
        color: #e4e4e4;
        margin-bottom: 30px;
    }

    a {
        text-decoration: none;
        border-radius: 6px;
        width: 200px;
        height: 47px;
        box-shadow: 0 2px 13px 0 rgba(226, 158, 0, 0.48);
        background: linear-gradient(315deg, #e2a300 0%, #e29500 100%);
        font-weight: 700;
        font-size: 20px;
        color: #000;
        text-shadow: 1px 1px 3px #7a0a46;
        padding: 20px 50px 20px 50px;
    }

    a:hover {
        color: #d63a6e;
        text-shadow: 1px 1px 3px #7a0a46;
    }

}



@media (max-width: 900px) {
    .title {
        font-weight: 700;
        font-size: 16px;
        color: #e4e4e4;
        width: 350px;
        height: 377px;
        // background-color: #7a0a46;
    }
}

@media (max-width: 390px) {
    .title {

        width: 310px;


    }
}