a.button{
    text-decoration: none;
    border-radius: 6px;
width: 200px;
height: 47px;
box-shadow: 0 2px 13px 0 rgba(226, 158, 0, 0.48);
background: linear-gradient(315deg, #e2a300 0%, #e29500 100%);
font-weight: 700;
font-size: 18px;
color: #000;
padding: 20px 50px 20px 50px;
}

a.button:active{
    color: #000;
}
a.button:hover{
    color: #000;
}  


h2{
    font-size: 30px;
    color:rgb(228, 228, 228);
}

h3{
    font-weight: 300;
font-size: 18px;
color: #e4e4e4;
margin-bottom: 30px;
}

.title{
    font-weight: 700;
font-size: 25px;
color: #e4e4e4;
    width: 447px;
    height: 377px;
    /* background-color: red; */
}