ul{
    list-style-type: none;
    padding-left: 0;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    gap: 145px;
}

li {
    display: inline; 
    /* margin-right: 10px;  */
    /* background-color: green; */

font-weight: 300;
font-size: 18px;
color: #e4e4e4;
  }

.menu{
    /* background-color: red; */

width: 710px;
/* height: 21px; */
}