.logo{
    /* background-color: gold; */
    display: flex;
    align-items: center;
    width: 181px;
height: 48px;
}

.logoTitle{
    font-weight: 400;
font-size: 18px;
color: #fff;
padding-left: 10px;
font-family: "Nico Moji", sans-serif;
}