.logo {
    display: flex;
    align-items: center;
    width: 181px;
    height: 48px;

    span {
        font-weight: 400;
        font-size: 18px;
        color: #fff;
        padding-left: 10px;
    }

}