.logo {
    display: flex;
    align-items: center;
    width: 181px;
    height: 48px;

    span {
        padding-left: 10px;
        font-family: 'Pacifico', cursive;
        font-size: 48px;
        color: #f06292;
        text-shadow: 2px 2px 4px #880e4f;
    }

}

@media (max-width: 500px) {
    .logo {
        span {
            font-size: 34px;
        }
    }
}

@media (max-width: 390px) {
    .logo {
        span {
            font-size: 24px;
        }
    }
}